.contact{
    background-color: var(--light-bg);
    color: var(--text-dark);
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 4vh;
    padding-bottom: 5vh;
}
.contactlist{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.list-item{
    width: 48%;
    height: auto;
    padding: 10px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--text-dark);
    /* box-shadow: 5px 5px 5px 5px var( --lightgrey-bg); */
}
.list-item:hover{
    background-color: var(--dark-bg);
    color: var(--text-white);
    box-shadow: 5px 5px 5px 2px var( --grey-bg);
}